body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    margin-top: 40px; 
    letter-spacing: 2px;
}
.cntnr1{
    
    display:flex;
    margin-top: 80px;
}
.cntnr1 .text{
    width:400px;
    margin-left: 150px;
    font-family: Georgia, serif;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
}

.cntnr1 img{
    width:300px;
    height: 300px;
    margin-left: 130px;
    border: 3px solid  rgb(3, 78, 3);
}
.cntnr2{
    display:flex;
    margin: 100px;
}
.cntnr2 .text{
    width:400px;
    margin-left: 130px;
    font-family: Georgia, serif;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
}

.cntnr2 img{
    width:400px;
    height: 300px;
    border: 3px solid  rgb(3, 78, 3);
}
.some-pictures{
    text-align: center;
    justify-content: center;
    display: flex;
    column-gap:30px;
    margin-bottom: 50px;
    margin-top: 50px;
   
}
.some-pictures img{
    height: 400px;
    width: 500px;
}
.button1, .button2{
    text-align:center ;
    justify-items: center;
    height: 50px;
    width: 50px;
    margin-top: 150px;
    cursor: pointer;
    background-color: rgba(0, 128, 0, 0.579);
    border: 1px solid rgba(0, 128, 0, 0.579);
}