body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    margin-top: 40px;
    letter-spacing: 2px;
}
.container1{
    text-align: center;
    margin: 50px;
    font-family: Georgia, serif;
    margin-top: 100px;
}
.container1 h1{
    font-size: 30px;
    color: rgb(2, 70, 2);
}
.container1 p{
    margin-left: 50px;
    margin-right: 50px; 
}
.container2{
    display:flex;
    margin: 100px;
    justify-content: center;
}
.container2 .left{
    color: green;
    padding: 10px;
    width: 400px;
    background-color: rgb(4, 116, 4);
}
.container2 .left h6{
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 10px;
}
.container2 .left span{
    font-size:15px ;
}
.container2 .left a{
    text-decoration: none;
    color: green;
    margin-right: 10px;
}
.container2 .right{
    background: rgb(220, 218, 218);
    padding: 20px;
    width: 600px;
}
.container2 .right input,textarea{
    width:500px;
}
.container2 .right #submit{
    color: green;
    padding: 10px;
    align-self: center;
    width:80px;
    border: 2px solid green;
    border-radius: 10%;
}
.container2 .right #submit:hover{
    color:white ;
    background: green;
}





