body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    margin-top: 40px;
    letter-spacing: 2px; 
}
.categories {
    display: flex;
}

.categories a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #f4f4f4;
    transition: background-color 0.3s ease;
}

.categories a:hover {
    background-color: green;
}
.cart-btn {
    position: relative;
    display: flex;
    justify-content: flex-end;
}
  
#cart {
    position: relative;
    font-size: 2rem;
    cursor: pointer;
    margin: 1em 4em 0 0;
  }
  
.cart-quantity {
    color: white;
    background-color: red;
    padding: .2em .3em;
    position: absolute;
    margin: .8em 7.5em 0 0;
    right: 0;
    border: solid 1px red;
    border-radius: 15px;
    font-weight: bolder;
}
.all-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.product {
    background-color: white;
    border-radius: 20px;
    text-align: center;
    width: 200px; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; 
}

.product:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product img {
    height: 150px; 
    width: 150px; 
    border-radius: 10px; 
}

.product h6 {
    color: green;
    font-size: 15px;
    margin: 10px 0;
}

.product p {
    color: black;
    margin: 5px 0; 
}

.product button {
    background-color: rgb(27, 130, 27);
    border: none;
    height: 30px;
    width: 100%; 
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #1b1b1b; 
}